body {
  margin: 0px;
  padding: 0px;
  color: #555555;
}
body .header {
  position: relative;
  padding: 10px;
}
body .header .open {
  position: absolute;
  top: 15px;
  right: 15px;
}
body .header .text-menu {
  float: right;
}
body .header .text-menu ul li {
  list-style: none;
  float: left;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
}
body .header .text-menu ul li a {
  color: black;
  display: inline-block;
  padding: 20px 30px;
}
body .section1 {
  background: url(/SCSS/images/background1.png) no-repeat;
  background-size: cover;
  padding: 30px 0;
}
body .section1 h1 {
  font-size: 60px;
}
body .section1 .nen {
  height: 50em;
  background-image: url("/SCSS/images/background1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body .section1 .nen img {
  margin-top: 7%;
  position: relative;
  left: 7%;
  bottom: 4%;
}
body .section1 .nen h1 {
  font-size: 64px;
}
body .section1 .nen img {
  max-width: 100%;
}
body .section1 .text-nen {
  font-size: 24px;
  float: left;
  margin-left: 10%;
  margin-top: 15%;
}
body .body-1 {
  background-image: url(/SCSS/images/3526847_04.jpg);
  background-size: cover;
  height: 800px;
}
body .body-1 img {
  max-width: 100%;
}
body .body-1 h1 {
  font-size: 50px;
}
body .body-1 .text-1 {
  margin: 8% 0% 0% 10%;
  font-size: 24px;
  float: left;
  position: absolute;
}
body .body-2 {
  position: relative;
  left: 5%;
}
body .body-3 {
  background: url("/SCSS/images/nen-body3_08.png");
  background-size: cover;
  padding: 70px;
}
body .body-3 img {
  margin-top: 10%;
}
body .body-3 h1 {
  font-size: 50px;
}
body .body-3 .text-3 {
  font-size: 24px;
  margin-right: 10%;
  margin-top: 10%;
}
body .body-4 {
  background: url(/SCSS/images/nem4_1_02.png) no-repeat;
  background-size: cover;
  padding: 50px;
}
body .body-4 h1 {
  font-size: 50px;
}
body .body-4 .text-4 {
  font-size: 24px;
  margin-top: 15%;
}
body .body-4 .img {
  float: left;
}
body .body-5 {
  background: url("/SCSS/images/images/3526847_05.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
}
body .body-5 h1 {
  font-size: 50px;
}
body .body-5 .text-5 {
  font-size: 24px;
  text-align: center;
  margin-top: 2%;
}
body .body-5 .card {
  margin-top: 4%;
  box-shadow: 10px 15px 15px #ece7e7;
}
body .body-5 .card :hover {
  color: red;
}
body .body-6 {
  background-color: #f3d1d1;
  padding: 70px;
}
body .body-6 img {
  margin: 10% 0% 10% 0%;
  box-shadow: 10px 15px 15px #717070;
}
body .body-6 h1 {
  font-size: 48px;
}
body .body-6 .text-6 {
  margin: 10% 0% 10% 5%;
  font-size: 24px;
  float: right;
}
body .body-6 .icon {
  float: left;
  margin: 0% 0% 0% 5%;
}
body .body-7 {
  background: url("/SCSS/images/nen7_12.jpg") no-repeat;
  background-size: cover;
  padding: 50px;
}
body .body-7 .text-7 {
  font-size: 24px;
  text-align: center;
}
body .body-7 .comment {
  margin: 5% 17% 0% 17%;
}
body .footer {
  background-color: #424954;
  height: 100%;
}
body .footer .text-footer {
  color: white;
}
body .footer i {
  color: black;
}
body #dialog {
  background: url(/SCSS/images/yoga.jpg) no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  body p {
    display: none;
  }
  body .text-foodter {
    color: #FFFFFF;
  }
  body img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  body img {
    max-width: 100%;
  }
  body .nen {
    background-size: 100% 50%;
  }
}

/*# sourceMappingURL=style.css.map */
